sourceDir = "{{ .chezmoi.homeDir }}/legion-machine/home"
encryption = "age"

[data]
  hostname = "{{ .chezmoi.hostname }}"
  {{- if eq .chezmoi.hostname "legion" }}
  font_size = 12
  display_scale = 1.25
  has_legion_services = true
  {{- else if eq .chezmoi.hostname "e15" }}
  font_size = 11
  display_scale = 1.0
  has_legion_services = false
  {{- else }}
  font_size = 12
  display_scale = 1.0
  has_legion_services = false
  {{- end }}

[age]
  identity = "~/.config/chezmoi/key.txt"
  recipient = "age172udv9sg4v3x9yt4c69ju5jax5a8v594rf5ekru9gkwy87aduswq7zhu7n"
