[Unit]
Description=Run voice rolling cap daily at 04:07am

[Timer]
OnCalendar=*-*-* 04:07:00
Persistent=true
RandomizedDelaySec=5min
Unit=voice-cap.service

[Install]
WantedBy=timers.target
